api.json
[
    {
        "id": "771da7498c3fe3ba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0209f6f5050353e",
        "type": "http in",
        "z": "771da7498c3fe3ba",
        "name": "",
        "url": "/portugueseToEnglish",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "098307ecb06c1bfe"
            ]
        ]
    },
    {
        "id": "d9395ebe99995f58",
        "type": "watson-text-to-speech",
        "z": "771da7498c3fe3ba",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_LisaExpressive",
        "voicehidden": "",
        "format": "audio/mp3",
        "password": "",
        "apikey": "kgs7p8UlUJJOyFdDKCsXoNymOBaBP9TR9wGC30LMSrHK",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 740,
        "y": 240,
        "wires": [
            [
                "3ffe672296228f0a",
                "92074fa61a60fa97"
            ]
        ]
    },
    {
        "id": "3ffe672296228f0a",
        "type": "play audio",
        "z": "771da7498c3fe3ba",
        "name": "",
        "voice": "0",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "92074fa61a60fa97",
        "type": "http response",
        "z": "771da7498c3fe3ba",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "730cd2ffd1c5a19a",
        "type": "watson-translator",
        "z": "771da7498c3fe3ba",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "pt",
        "destlang": "en",
        "apikey": "RywVwoq46nRS50WsOdGy7gKaIxE-2kjnvVHqyuoiW24s",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "pt",
        "destlanghidden": "en",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "d9395ebe99995f58",
                "b17a534376f8b043",
                "72cba8e213c26516"
            ]
        ]
    },
    {
        "id": "4e85bea61c08feaf",
        "type": "http in",
        "z": "771da7498c3fe3ba",
        "name": "",
        "url": "/englishToPortuguese",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "9470525c0ee8360e"
            ]
        ]
    },
    {
        "id": "fc544bef56da7816",
        "type": "watson-text-to-speech",
        "z": "771da7498c3fe3ba",
        "name": "",
        "lang": "en-US",
        "langhidden": "en-US",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "en-US_LisaExpressive",
        "voicehidden": "",
        "format": "audio/mp3",
        "password": "",
        "apikey": "kgs7p8UlUJJOyFdDKCsXoNymOBaBP9TR9wGC30LMSrHK",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 600,
        "y": 360,
        "wires": [
            [
                "e58b701e2f3c1efb",
                "a2ae5011c4e80399"
            ]
        ]
    },
    {
        "id": "e58b701e2f3c1efb",
        "type": "play audio",
        "z": "771da7498c3fe3ba",
        "name": "",
        "voice": "0",
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "a2ae5011c4e80399",
        "type": "http response",
        "z": "771da7498c3fe3ba",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "9470525c0ee8360e",
        "type": "watson-translator",
        "z": "771da7498c3fe3ba",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "pt",
        "apikey": "RywVwoq46nRS50WsOdGy7gKaIxE-2kjnvVHqyuoiW24s",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "pt",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 390,
        "y": 360,
        "wires": [
            [
                "fc544bef56da7816"
            ]
        ]
    },
    {
        "id": "0990e442eb11452a",
        "type": "http in",
        "z": "771da7498c3fe3ba",
        "name": "",
        "url": "/englishToSpanish",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "0aef3d756ceabf25"
            ]
        ]
    },
    {
        "id": "176113501438da92",
        "type": "watson-text-to-speech",
        "z": "771da7498c3fe3ba",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_EnriqueV3Voice",
        "voicehidden": "",
        "format": "audio/mp3",
        "password": "",
        "apikey": "kgs7p8UlUJJOyFdDKCsXoNymOBaBP9TR9wGC30LMSrHK",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "216bad5f236dc028",
                "d1990e22db3417b5"
            ]
        ]
    },
    {
        "id": "216bad5f236dc028",
        "type": "play audio",
        "z": "771da7498c3fe3ba",
        "name": "",
        "voice": "0",
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "d1990e22db3417b5",
        "type": "http response",
        "z": "771da7498c3fe3ba",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "0aef3d756ceabf25",
        "type": "watson-translator",
        "z": "771da7498c3fe3ba",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "apikey": "RywVwoq46nRS50WsOdGy7gKaIxE-2kjnvVHqyuoiW24s",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "176113501438da92"
            ]
        ]
    },
    {
        "id": "c7ac22871113fea3",
        "type": "http in",
        "z": "771da7498c3fe3ba",
        "name": "",
        "url": "/spanishToEnglish",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "a9082fda8d44de8c"
            ]
        ]
    },
    {
        "id": "e975d9c47cd4972e",
        "type": "watson-text-to-speech",
        "z": "771da7498c3fe3ba",
        "name": "",
        "lang": "es-ES",
        "langhidden": "es-ES",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "es-ES_EnriqueV3Voice",
        "voicehidden": "",
        "format": "audio/mp3",
        "password": "",
        "apikey": "kgs7p8UlUJJOyFdDKCsXoNymOBaBP9TR9wGC30LMSrHK",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/ca0f19aa-712b-43fe-8efe-9fc20eb29211",
        "x": 600,
        "y": 620,
        "wires": [
            [
                "53309dc3d3ac4240",
                "3caa531f8487bc7e"
            ]
        ]
    },
    {
        "id": "53309dc3d3ac4240",
        "type": "play audio",
        "z": "771da7498c3fe3ba",
        "name": "",
        "voice": "0",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "3caa531f8487bc7e",
        "type": "http response",
        "z": "771da7498c3fe3ba",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9082fda8d44de8c",
        "type": "watson-translator",
        "z": "771da7498c3fe3ba",
        "name": "",
        "action": "translate",
        "basemodel": "ar-en",
        "domain": "general",
        "srclang": "en",
        "destlang": "es",
        "apikey": "RywVwoq46nRS50WsOdGy7gKaIxE-2kjnvVHqyuoiW24s",
        "custom": "",
        "domainhidden": "general",
        "srclanghidden": "en",
        "destlanghidden": "es",
        "basemodelhidden": "ar-en",
        "customhidden": "",
        "filetype": "forcedglossary",
        "trainid": "",
        "lgparams2": true,
        "service-endpoint": "https://api.us-south.language-translator.watson.cloud.ibm.com/instances/e4848adf-b58b-4ff5-ac07-f0ee73adb6ba",
        "x": 390,
        "y": 620,
        "wires": [
            [
                "e975d9c47cd4972e"
            ]
        ]
    },
    {
        "id": "b17a534376f8b043",
        "type": "debug",
        "z": "771da7498c3fe3ba",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 770,
        "y": 140,
        "wires": []
    },
    {
        "id": "098307ecb06c1bfe",
        "type": "function",
        "z": "771da7498c3fe3ba",
        "name": "function 4",
        "func": "msg.originalMessage = msg.payload;  \nmsg.date = Date();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "730cd2ffd1c5a19a"
            ]
        ]
    },
    {
        "id": "72cba8e213c26516",
        "type": "cloudantplus out",
        "z": "771da7498c3fe3ba",
        "name": "",
        "cloudant": "98e0486ee889899f",
        "database": "matheusbeneti",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 780,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "98e0486ee889899f",
        "type": "cloudantplus",
        "host": "https://f1c0dcf9-5075-4061-a1f8-2f4ca596058a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "",
        "useapikey": true
    }
]
